.clearfix:after {
	/*清除浮动*/
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}

.clearfix {
	*zoom: 1;
	/* |  *代表只有ie6 7能识别的特殊符号 只有ie 6 7执行. zoom 清除浮动的放*/
}
/*弹出层遮罩*/
.mu-overlay {
	background-color: #fff;
}
/*底部字体大小*/
.mu-bottom-item-active .mu-bottom-item-text{
	font-size: 0.14rem;
}
.mu-bottom-item-text{
	font-size: 0.12rem;
}

/*引入自定义的字体图标*/

@font-face {
	font-family: bilibiliFont;
	font-weight: normal;
	font-style: normal;
	src: url('../../static/fonts/iconfont.ttf') format('truetype');
}

.bili-icon {
	font-family: bilibiliFont;
	font-size: 0.5rem;
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	display: inline-block;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
}

.icon-home:before {
	content: "\e619";
}

.icon-category:before {
	content: "\e609";
}

.icon-discover:before {
	content: "\e67e";
}

.icon-shoppingcart:before {
	content: "\e607";
}

.icon-mine:before {
	content: "\e64a";
}
